{% extends 'base.html' %}

{% load static %}

{% block title %} HomePage {% endblock %}


{% block content %}
    <div class="container-login100 mt-5">
        <div class="wrap-login100 wea pt-5 pb-5">
            <form id="login-form" class="login100-form validate-form flex-sb flex-w" method="post">
                {% csrf_token %}
                <span class="login100-form-title pb-5">
                Login
                </span>

                {% if form.errors %}
                        <p class="errornote">
                            Your username and password didn't match.
                            Please try again.
                        </p>
                {% endif %}

                <div class="wrap-input100 validate-input mb-4" data-validate="Username is required">
                    <input type="input" class="input100" name="username" id="inputEmail" placeholder="Username"
                           required autocomplete="off">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input mb-4" data-validate="Password is required">
                    <input type="password" class="input100" name="password" id="inputPass" placeholder="Password"
                           autocomplete="off" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>
                    <div>
                        <a href="{% url "password_reset" %}" class="txt1">
                            Forgot?
                        </a>
                    </div>
                </div>
                <div class="container-login100-form-btn mt-5">
                    <button type="submit" class="login100-form-btn">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
