{% extends 'base.html' %}

{% load static %}

{% block title %} Add Owner {% endblock %}

{% block content %}
    <section class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Client</h4>
                            <div class="text-center mt-5 mb-5">
                                <img class="img-fluid" style="width: 10em" src="{% static 'images/teamwork.png' %}">
                            </div>
                            <p class="card-text" style="margin-bottom: 0.1em; color: black">The Client account allows you to:</p>
                            <p style="margin-bottom: 0.1em; color: black">&nbsp;&nbsp;&nbsp;&nbsp;- Review restaurants</p>
                            <p style="margin-bottom: 0.1em; color: black">&nbsp;&nbsp;&nbsp;&nbsp;- See information and statistics about each restaurant</p>
                            <p style="margin-bottom: 0.1em; color: black">&nbsp;&nbsp;&nbsp;&nbsp;- Create a Favorites list with your best picks.</p>
                            <p class="card-text" style="margin-top: 1em; color: black">Choose this account if you <b>do not own</b> any restaurants and only want to see and review restaurants of your choice.</p>
                            <div class="text-center mt-5">
                                <a href="{% url 'add-client' %}" class="btn btn-primary">Register as Client</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Owner</h4>
                            <div class="text-center mt-5 mb-5">
                                <img class="img-fluid" style="width: 10em" src="{% static 'images/restaurant.png' %}">
                            </div>
                            <p class="card-text" style="margin-bottom: 0.1em; color: black">The Owner account allows you to:</p>
                            <p style="margin-bottom: 0.1em; color: black">&nbsp;&nbsp;&nbsp;&nbsp;- Add restaurants to the platform</p>
                            <p style="margin-bottom: 0.1em; color: black">&nbsp;&nbsp;&nbsp;&nbsp;- Manage your existing restaurants (edit, delete)</p>
                            <p style="margin-bottom: 0.1em; color: black">&nbsp;&nbsp;&nbsp;&nbsp;- Create a Favorites list with your best picks.</p>
                            <p class="card-text" style="margin-top: 1em; color: black">Choose this account if you <b>do own</b> restaurants and  want to include them in our platform.</p>
                            <div class="text-center mt-5">
                                <a href="{% url 'add-owner' %}" class="btn btn-primary">Register as Owner</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
