<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="#">
    <meta name="keywords" content="#">

    <!-- Page Title -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="{% static 'css/set1.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block style %}{% endblock %}
</head>

<body>
<!--============================= HEADER =============================-->
<div class="nav-menu">
    <div class="bg transition">
        <div class="container-fluid fixed is-sticky">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="{% url 'home' %}">RestReview</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="icon-menu"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.groups.all.0.name == "owners_group" %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'add-restaurant' %}">New Restaurant</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'my-restaurants' %}">My Restaurants</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="{% url 'owner' request.user.username %}">Profile</a>
                                        </li>
                                    {% endif %}
                                    {% if request.user.groups.all.0.name == "clients_group" %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'favourites_listing' %}">My Favorites</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="{% url 'client' request.user.username %}">Profile</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{% url 'register' %}"
                                           class="btn btn-outline-light top-btn">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'login' %}" class="btn btn-outline-light top-btn">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//END HEADER -->

{% block content %}{% endblock %}

<!--============================= FOOTER =============================-->
<footer class="main-block dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <ul>
                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                        <li><a href="#"><span class="ti-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--//END FOOTER -->

<!-- jQuery, Bootstrap JS. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block script %}{% endblock %}
</body>
</html>