{% extends 'base.html' %}

{% load static %}

{% block title %} My Favorites {% endblock %}

{% block content %}
    <div class="container-login100 mt-5">
    <div class="row">
        <div class="responsive-wrap pt-5 pb-5">

            <span class="login100-form-title pb-5">My Favorites</span>


            <div class="row light-bg detail-options-wrap">
                {% for rest in rests %}
                    {% if rests|length == 1 %}
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 featured-responsive">
                    {% else %}
                        <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6 featured-responsive">
                    {% endif %}
                <div class="featured-place-wrap">
                    <a href="{% url 'restaurant-detail' rest.id %}">
                        <img style="height: 35em" src="{{ 'data:image/png;base64,'|add:rest.photo }}" class="img-fluid"
                             alt="#">
                        {% if rest.average_score < 5.5 %}
                            <span class="featured-rating-orange">{{ rest.average_score }}</span>
                        {% else %}
                            <span class="featured-rating-green">{{ rest.average_score }}</span>
                        {% endif %}
                        <div class="featured-title-box">
                            <div class="container row">
                                <h6>{{ rest.name }}</h6>
                                <form method="post">
                                    {% csrf_token %}
                                    {% if rest.user_fav %}
                                        <button name="fav{{ rest.id }}" class="ti-heart" type="Submit"
                                                style="color:red"></button>
                                    {% else %}
                                        <button name="fav{{ rest.id }}" class="ti-heart" type="Submit"></button>
                                    {% endif %}
                                </form>
                            </div>
                            <p>Restaurant </p> <span>• </span>
                            <p>{{ rest.n_of_reviews }} Reviews</p>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>{{ rest.address }}, {{ rest.city }}, {{ rest.country }}</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>{{ rest.phone_number }}</p>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!--//END DETAIL -->

