{% extends 'base.html' %}

{% load static %}

{% block title %} Owner {% endblock %}

{% block content %}
    <div class="container-login100 mt-5">
        <div class="wrap-login100 wea pt-5 pb-5">

            <form id="login-form" class="login100-form validate-form flex-sb flex-w" method="post"
                  enctype="multipart/form-data">

                <span class="login100-form-title pb-5">Owner</span>

                {% if messages %}
                    <div class="body col-12 mb-4">
                        <ul>
                            {% for m in messages %}
                                <li {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    class="alert alert-danger"
                                {% else %}
                                    class="alert alert-success"
                                {% endif %}
                                >
                                    {{ m }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-lg-3" style="text-align: center">
                        <div class="follow-img" style="text-align: left">
                            <img id="photo"
                                 src="{{ form.photo.initial }}"
                                 class="img-fluid" alt="#">
                        </div>
                        {% if editable %}
                            <div class="mt-3 mb-5">
                                <btn class="btn btn-primary btn-lg" id="edit_img">Add foto</btn>
                                <div style="visibility: hidden;">{{ form.photo }}</div>
                            </div>
                        {% endif %}
                    </div>
                    {% if editable %}
                        <div class="col-12 col-lg-9" style="text-align: right">
                            <btn class="btn btn-danger btn-lg" data-toggle="modal"
                                 data-target="#deleteModal"
                                 onclick="loadInfo('{{ form.email.value }}', '{{ form.first_name.value }}', '{{ form.last_name.value }}')">
                                Delete Account
                            </btn>
                        </div>
                    {% endif %}
                </div>


                {{ form.email.label_tag }}
                <div class="wrap-input100 mb-5">
                    {{ form.email }}
                    <span class="focus-input100"></span>
                    {{ form.email.errors }}
                </div>

                {% if editable %}
                    {{ form.new_password.label_tag }}
                    <div class="wrap-input100 mb-5">
                        {{ form.new_password }}
                        <span class="focus-input100"></span>
                        {{ form.new_password.errors }}
                    </div>

                    {{ form.repeat_password.label_tag }}
                    <div class="wrap-input100 mb-5">
                        {{ form.repeat_password }}
                        <span class="focus-input100"></span>
                        {{ form.repeat_password.errors }}
                    </div>
                {% endif %}

                {{ form.first_name.label_tag }}
                <div class="wrap-input100 mb-5">
                    {{ form.first_name }}
                    <span class="focus-input100"></span>
                    {{ form.first_name.errors }}
                </div>


                {{ form.last_name.label_tag }}
                <div class="wrap-input100 mb-5">
                    {{ form.last_name }}
                    <span class="focus-input100"></span>
                    {{ form.last_name.errors }}
                </div>


                {{ form.phone_number.label_tag }}
                <div class="wrap-input100 mb-4">
                    {{ form.phone_number }}
                    <span class="focus-input100"></span>
                    {{ form.phone_number.errors }}
                </div>

                {% if editable %}
                    <div class="container-login100-form-btn mt-5">
                        <button type="submit" class="login100-form-btn">Update</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Tens a certeza que queres eliminar: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.email.label_tag }}
                        <div class="wrap-input100 mb-5">
                            {{ form.email }}
                            <span class="focus-input100"></span>
                        </div>

                        {{ form.first_name.label_tag }}
                        <div class="wrap-input100 mb-5">
                            {{ form.first_name }}
                            <span class="focus-input100"></span>
                        </div>

                        {{ form.last_name.label_tag }}
                        <div class="wrap-input100 mb-5">
                            {{ form.last_name }}
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button name="remove" type="submit" class="btn btn-danger">Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script>
        function loadInfo(email, first_name, last_name) {
            document.getElementById("id_first_name").value = first_name;
            document.getElementById("id_last_name").value = last_name;
            document.getElementById("id_email").value = email;
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#photo').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#id_photo").change(function () {
            readURL(this);
        });

        $('#edit_img').click(function () {
            $("#id_photo").trigger("click");
        });


    </script>
{% endblock script %}